div.allsites {
	width: 100%;
}

div.allsites ul {
	margin: 0px;
}

div.clear {
	clear: both;
}

li.wiki {
		margin: 0;
	    float: left;
	    display: block;
	    margin-right: 15px;
	    width: 157px;
	    margin-bottom: 15px;
		position: relative;
}

li.wiki a img {
	width: 157px;
	height: 118px;
}

li.wiki a summary {
	position: absolute;
	bottom: 0px;
	color: #fff;
	width: 147px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.75);
	border-top: 1px solid #141414;
}